.sorakh-modal-content {
  border-radius: 35px;

  .modal-title {
    margin-left: 10px;
  }

  .btn-close {
    margin-right: 10px;

    border-radius: 50px;
    box-shadow: -5px -5px 10px #FFFFFF, 1px 1px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #F5F2F2 !important;
    background-color: #F5F2F2;
    text-decoration: none;
    color: #AA9999;
    font-weight: bold;

    &:focus {
      box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.04), inset -5px -5px 5px rgba(255, 255, 255, 0.03);
    }
  }

  .modal-body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .divider-line {
    border: 1px solid #AA9999;
    margin-left: 10px;
    margin-right: 10px;
  }
}