th {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  vertical-align: middle !important;
  color: #AA9999 !important;
  font-weight: bold;
  background-color: initial !important;
}

td {
  font-weight: 100 !important;
  font-size: 15px !important;
  vertical-align: middle !important;
  background-color: initial !important;
  
  a {
    text-decoration: none;
    color: #AA9999 !important;
  }
}

.sticky-cell {
  position: sticky;
  left: 0;
  background-color: #FAFAFA !important;
  border-right: 1px solid #EAEAEA !important;
}